.clock-pos {
  color: cyan;
  border-style: inset;
  border-block-end-width: 1px solid white;
  position: absolute;
  top: 0.5%;
  right: 0;
  background-color: black;
  margin: 10 px auto;
  padding: 1px 1px;
  text-align: center;
  background: #2db34a;
  border-radius: 4cm;
  font-size: 75%;
}
.name-pos {
  position: absolute;
  top: 15%;
  left: 10%;
}
.enter-style {
  border-radius: 4cm;
  background-color: burlywood;
  font-style: italic;
  font-variant: normal;
}

.derive-pos {
  position: absolute;
  top: 7%;
  left: 0%;
}
.App-logo1 {
  border: 2px solid black;
  box-shadow: red;
  color: blueviolet;
}
