.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
  pointer-events: none;
  font-size: larger;
  color: red;
}
.App-logo1 {
  animation: App-logo-spin infinite 5s linear;
  height: 30vmin;
  pointer-events: painted;
  font-size: x-large;
  color: #ffff33;
}

.App-header {
  background-image: "/home/shitiz/Pictures/x.png";
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-link {
  color: rgb(145, 56, 141);
}
