code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
}
p {
  color: aqua;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-block: 4cm rgb(141, 33, 33);
  margin-block: black;
  text-shadow: aqua 3cm;
  background-color: black;
  text-align: right;
}
div {
  color: aqua;
}
body {
  background-color: purple;
}
button {
  background-color: white;
  color: red;
  border: 2px solid #008cba;
}

/*button on hover*/

button:hover {
  background-color: #008cba;
  color: white;
}
